@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), 
       url("../fonts/roboto.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"), 
       url("../fonts/robotobold.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: #849d8f;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  text-align: left;
}

img {
  max-width: 100%;
}

.header-flex {
  /*background-color: red;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.logo-glaccy {
  margin-left: 27px;
  margin-top: 9px;
  /*background-color: palevioletred;*/
}

.header-flex-left {
  display: flex;
  flex-wrap: wrap;
  /*background-color: greenyellow;*/
  justify-content: flex-start;
  align-items: center;
}

.header-flex-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /*background-color: yellow;*/
  margin-right: 17px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  /*background-color: palevioletred;*/
  padding: 0;
  padding-left: 10px;
}

.nav-link {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  width: 87px;
  border-radius: 15px;
  padding: 5px 13px;
}

.nav-link:visited {
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: none;
  color: #323232;
  background-color: #f7f6f3;
}


.menu-open {
  box-sizing: border-box;
  text-decoration: none;
  width: 87px;
  border-radius: 15px;
  background-color: #d07058;
  padding: 5px 13px;
}

.menu {
  display: none;
  list-style: none;
  box-sizing: border-box;
  width: 143px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 13px;
  padding-right: 21px;
  padding-bottom: 14px;
  padding-left: 21px;
}

.menu a {
  box-sizing: border-box;
}

.menu a:visited {
  color: #323232;
}

.menu a:hover {
  background-color: #fbded8;
}

.menu a:active {
  background-color: #f6b5a5;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.main-menu-link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(247, 246, 243, 0.2);
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 8px 17px;
  margin-right: 10px;
}

.main-menu-link:visited {
  color: #ffffff;
}

.main-menu-link:hover {
  color: #323232;
  background-color: #f8f7f4;
  border-color: #f8f7f4;
  
}

.main-menu-link:hover g,
 .main-menu-link:hover path {
  fill: #000000;
}

.search {
  padding: 8px;
  /*border-radius: 100%;*/
}

.main-menu-link:not(.search) svg {
  margin-right: 7px;
}

.basket-full {
  display: flex;
  box-sizing: border-box;
  width: 117px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 20px;
  padding: 8px 17px;
}

.basket-full svg {
  margin-right: 5px;
}

.basket-full:hover {
  color: #323232;
}

.modal-search {
  display: none;
}

.button-enter {
  width: 100px;
  height: 44px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 25px;
}

.registration-form {
  display: none;
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-decoration-line: underline;
}

.modal-enter {
  display: none;
}

.modal-basket {
  display: none;
}

.work-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align:  right;
  margin-right: 27px;
  margin-top: 20px;
}

.contact-phone {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align:  right;
  margin-right: 27px;
}

.contact-phone:visited {
  color: #ffffff;
}

.contact-phone:hover,
.contact-phone:active {
  color: #ffbc9e;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  padding-left: 0;
  margin-left: 27px;
  margin-top: 28px;
  margin-bottom: 13px; 
}

.breadcrumbs a:visited {
  color: #ffffff;
}

.breadcrumbs li:last-child a {
  text-decoration: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: "\00bb";
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs li:last-child a:hover,
.breadcrumbs li:last-child a:active {
  color: #ffffff;
}

.slide-list {
  list-style: none;
}
.slide-show {
  width: 667px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.button-both {
  box-sizing: border-box;
  text-decoration: none;
  color: #fefefe;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 2px 5px #a0200bc2;
  width: 280px;
  height: 64px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 30px;
  padding: 8px 43px 9px 41px;
}

.button-both:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button-both:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.slider-dots li {
  display: inline-block;
}

.dot {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 50%;
  margin: 1px;
  outline: none;
}

.dot:hover {
  background-color: rgba(255,255,255,0.4);
}

.dot:active {
  background-color: #ffffff;
}

.free {
  display: inline-block;
  box-sizing: border-box;
  width: 560px;
  font-weight: 700;
  border-radius: 20px;
  padding-top: 23px;
  padding-right: 21px;
  padding-bottom: 23px;
  padding-left: 20px;
  margin-left: 27px;
}

.raspberry {
  background-image: url("../img/raspberry.png");
}

.chocolate {
  background-image: url("../img/chocolate.png");
}

.free h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.free p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 45px;
}

.free a {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 165px;
  height: 46px;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border-radius: 20px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 22px;
}

.free a:visited {
  color: #ffffff;
}

.free a:hover {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.free a:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item-list a:visited {
  color: #ffffff;
}
.item-list a:hover,
.item-list a:active {
  color: #ffbc9e;
}

.item {
  list-style: none;
  box-sizing: border-box;
  width: 293px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 22px;
  padding-left: 13px;
  text-align: center;
  position: relative;
}

.item:hover {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(248, 247, 244, 0.2);
}

.item img {
  border-radius: 50%;
}

.item svg {
  position: absolute;
  top: 6px;
  left: 13px;
}

.price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-align: left;
  position: absolute;
  left: 13px;
  top: 214px;
}

.price span {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.description-ice {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.button-view {
  box-sizing: border-box;
  width: 200px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-width: 0;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
  padding: 10px 15px;
  margin-top: 15px;
}

.button-view:hover {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button-view:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.page-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-left: 27px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.filter {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter fieldset{
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
}

.background-options {
  height: 37px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
}

.sort {
  width: 194px;
}

.price-range {
  box-sizing: border-box;
  width: 220px;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.price-range input {
  width: 100%;
  background-color: rgba(248, 247, 244, 0.2);
}

.fat-content {
  box-sizing: border-box;
  width: 415px;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-left: 14px;
}

.fat-content input:not(:last-child) {
  margin-right: 10px;
}

.fat-content label:not(:last-child) {
  margin-right: 18px;
}

.extenders {
  box-sizing: border-box;
  width: 703px;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.extenders input:not(:last-child) {
  margin-right: 8px;
}

.extenders label:not(:last-child) {
  margin-right: 20px;
}

.apply {
  box-sizing: border-box;
  width: 144px;
  border: 2px solid #ffffff;
  padding-top: 9px;
  padding-right: 29px;
  padding-bottom: 12px;
  padding-left: 21px;
  color: #ffffff;
}

.item-pages {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
  text-align: right;
  margin-right: 27px;
}

.item-pages a {
  text-decoration: none;
  text-align: center;
}

.item-pages a:visited {
  color: #ffffff;
}

.item-pages li {
  box-sizing: border-box;
  display: inline-block;
  width: 27px;
  height: 26px;
  border-radius: 100%;
  text-align: center;
}

.item-pages li:first-child svg{
  transform: rotate(180deg); /*не работает поворот*/
}

.item-pages li:last-child path{
  fill: #ffffff;
  stroke: #ffffff;
}


.item-pages li:hover:not(:last-child):not(:first-child) {
  background-color: rgba(255, 255, 255, 0.2);
}

.item-pages li:active:not(:last-child):not(:first-child) {
  background-color: #ffffff;
}

.item-pages li:active:first-child,
.item-pages li:active:last-child {
  background-color: transparent;
}

.item-pages li:active:not(:last-child):not(:first-child) a {
  color: #000000; 
}

.item-pages li:active {
  background-color: #ffffff;
}

.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1146px;
  color: #323232;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-image: url("../img/waffle.png");
  border-radius: 20px;
  margin-left: 27px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 21px;
  padding-right: 33px;
  padding-top: 29px;
  padding-bottom: 26px;
}

.advantages-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.market-glaccy {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.advantages-list {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-list li {
  display: flex;
  box-sizing: border-box;
}

.advantages-list p {
  margin: 0;
  margin-top: 19px;
}

.icon-ice {
  display: flex;
  width: 533px;
}

.icon-ice::before {
  content: url("../img/ice-cream.svg");
  margin-right: 8px;
}

.icon-cow {
  display: flex;
  width: 527px;
}

.icon-cow::before {
  content: url("../img/cow.svg");
  margin-right: 8px;
}

.icon-eco {
  display: flex;
  width: 533px;
}

.icon-eco::before {
  content: url("../img/eco.svg");
  margin-right: 8px;
}

.icon-thermometer {
  display: flex;
  width: 527px;
}

.icon-thermometer::before {
  content: url("../img/thermometer.svg");
  margin-right: 8px;
}

.blog-subscribe {
  display: flex;
}

.new-blog {
  box-sizing: border-box;
  width: 560px;
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  background-image: url("../img/strowberry-background.jpg");
  margin-left:  27px;
  margin-right: 26px;
  margin-bottom: 39px;
  border-radius: 10px;
  padding-top: 26px;
  padding-bottom: 82px;
  padding-left: 20px;
}

.new-blog a:visited {
  color: #323232;
}

.new-blog a:hover,
.new-blog a:active {
  color: #e84d37;
}

.new-blog h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.new-blog p {
  width: 289px;
  margin: 0;
}

.subscribe {
  box-sizing: border-box;
  width: 560px;
  color: #323232;
  font-weight: 700;
  border-radius: 10px;
  background-image: url("../img/background-subscribe.png");
  background-color: #f8f7f4;
  margin-right: 27px;
  margin-bottom: 39px;
  background-clip: padding-box;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
}

.substrate {
  box-sizing: border-box;
  width: 549px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-top: 33px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.subscription-text {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 38px;
}

.input-email {
  box-sizing: border-box;
  width: 368px;
  background-color: #ffffff;
  color: #323232;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 7px;
  margin-left: 0;
  margin-bottom: 0;
} 

.input-email::placeholder {
  color: #999999;
  font-weight: 400;
}

.input-email:hover {
  color: #323232;
  border-width: 2px;
  border-color: rgba(154, 154, 154, 0.52);
}

.input-email:hover::placeholder {
  color: #999999;
}

.input-email:focus {
  color: #323232;
  border-width: 2px;
  border-color: rgba(46, 136, 228, 0.52);
}

.input-email:focus::placeholder {
  color: #999999;
  font-weight: 400;
}

.send {
  color: #fefefe;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 129px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  padding: 0;
}

.send:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.send:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.map {
  position: relative;
}

.yandex-map {
  width: 100%;
}

.pin {
  position: absolute;
  top: 139px;
  left: 266px;
}

.form-contact {
  box-sizing: border-box;
  width: 302px;
  background-color: #ffffff;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  padding: 32px;
  padding-right: 25px;
  padding-bottom: 41px;
  padding-left: 25px;
  border-radius: 20px;
}

.address-name {
  width: 148px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.address-market {
  width: 220px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 18px;
  margin-left: 0;
}

.form-contact-orders-phrase {
  margin: 0;
}

.contact-phone-form {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
}

.contact-phone-form a {
  text-decoration: none;
  color: #323232;
}

.contact-phone-form a:visited {
  color: #323232;
}

.contact-phone-form a:hover {
  color: #ffbc9e;
}

.form-contact-timetable-phrase {
  margin: 0;
  margin-bottom: 26px;
}

.form-return {
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  width: 252px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 10px;
  padding-left: 27px;
}

.footer-flex {
  display: flex;
  display-wrap: wrap;
  justify-content: space-between;
  padding-top: 18px;
  padding-right: 27px;
  padding-left: 27px;
}

.social {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social a {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(247, 246, 243, 0.3);
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
}

.social a:hover {
  opacity: 1;
}

.social a:active {
  border: 3px solid rgba(247, 246, 243, 0.8);
  opacity: 0.8;
}

.twitter {
  content: url("../img/twitter.svg");
}

.instagram {
  content: url("../img/instagram.svg");
}

.fb {
  content: url("../img/fb.svg");
}

.vk {
  content: url("../img/vk.svg");
}

.common-flex {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  justify-content: space-between;
}

.common {
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

.common-flex-left {
  display: flex;
  flex-direction: column;
  width: 130px;
}

.common-flex-right {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.common a:visited {
  color: #ffffff;
}

.common a:hover, 
.common a:active {
  color: #ffbc9e;
}

.for-providers {
  display: flex;
  font-weight: 700;
}

.for-providers a:hover path, 
.for-providers a:active path {
  fill: #ffbc9e;
}

.htmlacademy-flex {
  display: flex;
  display-wrap: wrap;
  flex-direction: column;
}

.htmlacademy {
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy a:visited {
  color: #ffffff;
} 

.htmlacademy a:hover,
.htmlacademy a:active {
  color: #ffbc9e;
}

